QPushButton 
{
border:0; 
background:transparent;
padding:0;
}
QPushButton:hover
{
background-color:#DDDDDD;
}
QPushButton:pressed
{
background-color:#FFFFFF;
}
QPushButton:checked
{
background-color: rgb(210, 210, 210);
border: none;
}